html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* ВАЖНО — отключаем любые скроллы */
}

#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* чтобы HexMap никогда не вылезал */
  position: fixed;  /* фиксируем контейнер */
  top: 0;
  left: 0;
}
